@import "../../styles/breakpoints.scss";

// ok this one got away from me.
section.text-anim-split {
	display: flex;
	.text, .image {
		flex-basis: 50%;
		transition: all 1s ease-in-out;		// for animation
	}
	.text {
		padding: 2rem 2rem 0 2rem;
		opacity: 0; // for animation
		p {
			max-width: 55ch;
		}
	}
	.image {
		transform: translateX(100%); // for animation
		opacity: 0; // for animation
	}
	&.flip {
		flex-direction: row-reverse;
		.image {
			transform: translateX(-100%) // for animation
		}
	}
	// added animation class
	&.in-view {
		.text {
			opacity: 1;
		}
		.image {
			transform: translateX(0%);
			opacity: 1;
		}
	}
	@media (max-width: $tablet){
		.text {
			padding: 1rem;
		}
	}
	@media (max-width: $phone){
		display: block; 
		.text, image {
			transition: none;
		}
		.text {
			padding: 0;
			opacity: 1;
		}
		.image {
			margin-top: 2rem;
			transform: translateX(0%); // for animation
			opacity: 1; // for animation
		}
		&.flip {
			.image {
				transform: translateX(0) // for animation
			}
		}
	}
}